.header {
  &-top {
    background-color: $primary-green;
    .container {
      display: flex;
      justify-content: space-between;
      padding-block: 1rem;
    }
    &_left {
      display: flex;
      gap: 1.6rem;
      a {
        font-family: $sans;
        font-size: 1.1rem;
        line-height: 1.6rem;
        letter-spacing: 0%;
        color: $primary-white;
      }
    }
    &_right {
      display: flex;
      gap: 0.7rem;
      img {
        @media (max-width: 768px) {
          width: 1.3rem;
        }
      }
    }
  }
  &-bottom {
    padding-block: 2rem;
    .container {
      display: flex;
      justify-content: space-between;
    }
    &_left {
      display: flex;
      gap: 5rem;
      align-items: center;
      .logo {
        font-family: $varela;
        font-weight: 400;
        font-size: 2.1rem;
        line-height: 3.2rem;
        letter-spacing: 0%;
        color: $heading-black;
      }
      nav {
        display: flex;
        gap: 3rem;
        a {
          font-family: $sans;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 2.4rem;
          letter-spacing: 0%;
          color: $text-black;
        }
      }
    }
    &_right {
      display: flex;
      align-items: center;
      gap: 1rem;
      p {
        font-family: $sans;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0%;
      }
      img {
        width: 2.3rem;
      }
      .circle {
        width: 2rem;
        height: 2rem;
        background-color: $primary-green;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-white;
        border-radius: 50%;
      }
    }
  }
}
